.container {
  text-align: center;
  padding: 3em;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.option {
  background: #e9ecef;
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 10px;
  display: inline-block;
}

.input-file {
  display: none;
}
