@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

.container {
  text-align: center;
  padding: 3em;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;

  @include mobile {
    flex-direction: column;
  }
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border: none;
  height: 20em;
  width: 20em;
  object-fit: contain;
}

.option {
  background: #e9ecef;
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 10px;
  display: inline-block;
}

.input-file {
  display: none;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 50px;
  animation: rotate 1.5s linear infinite;
}
